.Portfolio {
    padding-top: 20vmin !important;
}

.project-container {
    margin-bottom: 5vmin;
}

.project-links > a {
    margin-right: 10vmin;
    font-size: 1rem;

    @media only screen and (max-width:480px) {
        font-size: 1rem;
      }
    
      @media only screen and (min-width:481px) and (max-width:1150px) {
        font-size: 1.5rem;
      }
}

.project-container > img {
    width: 60vmin;
    height: 40vmin;
    margin: 2vmin 0;
}