.Contact {
    background-color: #C6E1F2;

}

.Contact > div > form {
    display: flex;
    flex-direction: column;
    margin: 5vmin 0;
}

.Contact > div > form > .contact-info > input, .Contact > div > form > .message > input {
    width: 75vmin;
    margin-bottom: 1vmin;
}

.Contact > div > form > .message > input {
    height: 30vmin;
}