.Contact {
    background-color: #C6E1F2;
    padding-top: 20vmin !important;

    @media only screen and (max-width:480px) {
        height: 185vmin;
      }
    
    @media only screen and (min-width:481px) and (max-width:1150px) {
        height: 90vmin;
    }
}

.Contact > div > form {
    display: flex;
    flex-direction: column;
    margin: 5vmin 0;
    justify-content: center;
    align-items: center;
}

.Contact > div > p {
    margin: 0 auto;
    margin-left: 2vmin;
}

.Contact > div > form > .form-group > .form-row > .col > .form-control {
    width: 100%;
    margin-bottom: 2vmin;
    margin-left: 15vmin;
    padding: 1vmin;

    @media only screen and (max-width:480px) {
        margin-left: 5vmin;
      }
    
    @media only screen and (min-width:481px) and (max-width:1150px) {
        margin-left: 10vmin;
    }
}

.Contact > div > form > .form-group > textarea {
    height: 30vmin;
    width: 74%;
    margin-bottom: 2vmin;
    margin-left: 15vmin;

    @media only screen and (max-width:480px) {
        margin-left: 5vmin;
    }
    
    @media only screen and (min-width:481px) and (max-width:1150px) {
        margin-left: 10vmin;
    }
}

.Contact > div > form > .form-group > .form-row > .col > .form-control {
    height: 3vmin;
}

.Contact > div > form > button {
    background-color: #E68FAE; 
    border: white;
    color: white;
    height: 10vmin;
    width: 20vmin;
    font-size: larger;
}