.Contact {
    background-color: #C6E1F2;
    padding-top: 20vmin !important;
}

.Contact > div > form {
    display: flex;
    flex-direction: column;
    margin: 5vmin 0;
    justify-content: center;
    align-items: center;
}

.Contact > div > p {
    margin: 0 auto;
}

.Contact > div > form > .form-group > .form-row > .col > .form-control {
    width: 100%;
    margin-bottom: 2vmin;
    margin-left: 15vmin;
    padding: 1vmin;
}

.Contact > div > form > .form-group > textarea {
    height: 30vmin;
    width: 74%;
    margin-bottom: 2vmin;
    margin-left: 15vmin;
}

.Contact > div > form > .form-group > .form-row > .col > .form-control {
    height: 3vmin;
}

.Contact > div > form > button {
    background-color: #E68FAE; 
    border: white;
    color: white;
    height: 10vmin;
    width: 20vmin;
    font-size: larger;
}