.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #E1F0FA;
    font-size: medium;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.Navbar > img {
    width: 10vmin;
    height: 10vmin;
    padding: 2vmin;
}

nav > .link, li > a {
    padding: 0 10px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}