.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #E1F0FA;
    font-size: medium;
    width: 100%;
    z-index: 99;
}

.Navbar > img {
    width: 15vmin;
    height: 15vmin;
    padding: 2vmin;
    padding-left: 5vmin;
}

nav > .link, li > a {
    padding: 0 10px;
    size: 10vmin;
    text-decoration: none;
    color:#E68FAE; 
    font-size: large;
}

nav > .link:hover {
    color: 
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}