.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #E1F0FA;
    font-size: medium;
}

nav > .link, li > a {
    padding: 0 10px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}